header,section {
    background-color: #5c6ac4;
}
.container {
    display: flex;
    max-width: 1220px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}

.container .title h1 {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: #fff;
    margin: 0;
}

.container .sub-title h3 {
    font-size: 35px;
    color: #fff;
    margin: 0 0;
    font-weight: normal;
    text-align: center;
}

.logo {
    max-width: 200px;
}
.logo img {
    width: 100%;
    margin-bottom: 20px;
}

.formemail {
    margin-top: 25px;
}
#bemail {
    width: 70%;
    padding: 15px; 
    border: 1px solid gray;
    border-radius: 10px;
}
#bgetstarted { 
    width: 20%;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #30373b;
    color: #e5e6e6;
}

.phrase p {
    color: #fff;
    text-align: center;
}
.widged {
    /* display: flex;
    flex-direction: column; */
}
.banner {
    max-width: 638px;
}
.banner img {
    width: 100%;
}

/* Mobile photo */
.banner img {
    /* height: auto;
    width: 300px; */
}

/*          FOOTER       */
.widget-area-footer{
    display: flex;
    flex-direction: row; 
    background-color: #fff;
    border-radius: 7px;
}
.widget-footer-img {
    margin: 20px;
}
.widget-footer {
    padding: 5px;
}
.widget-footer h1 {
    color: #0b1621;
    font-size: 18px;
    font-weight: bolder;
    margin: 5px;
}
.widget-footer p {
    color: #a4aeb6;
}
/*      MOBILE EDITION */
@media (max-width:600px) {
/*          EMAIL ADDRES AND BUTTON      */
    .formemail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #bgetstarted {
        width: 80%;
        margin-top: 5px;

    }
    #bmail {
        width: 80%;
    }
/* WIDGET FOOTER */
    .widget-area-footer{
        flex-wrap: wrap;
    }
    
}